pkgbase = linux-mbp
	pkgdesc = Linux for MBP
	pkgver = 5.3.11
	pkgrel = 1
	url = https://git.archlinux.org/linux.git/log/?h=vv5.3-11
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	makedepends = python-sphinx
	makedepends = python-sphinx_rtd_theme
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = git
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.3.11.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v5.x/linux-5.3.11.tar.sign
	source = config
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-Bluetooth-hidp-Fix-assumptions-on-the-return-value-o.patch
	source = 2001-nvme-pci-set-ctrl-sqsize-to-the-device-q_depth.patch
	source = 2002-nvme-pci-Pass-the-queue-to-SQ_SIZE-CQ_SIZE-macros.patch
	source = 2003-nvme-pci-Add-support-for-variable-IO-SQ-element-size.patch
	source = 2004-nvme-pci-Add-support-for-Apple-2018-models.patch
	source = 2005-nvme-pci-Support-shared-tags-across-queues-for-Apple.patch
	source = 4001-touchpad.patch
	source = 4002-keyboard-backlight.patch
	source = camera.patch
	source = wifi.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 6e7156946d1d72e24786d09a47511e44c3abe5d4da757f4f68f2da482880aeb7
	sha256sums = SKIP
	sha256sums = 0fdd436a462de81d3d20d53ff7b7ed4005c334db5495114133bec7baeac26903
	sha256sums = 78859015e7ef94e31a21c84b32085641adfe8e6f3f227c9a634668661343ebb4
	sha256sums = 5d53f91d271aba76118c8b65ef19ff3b50f171a8adf0768ab107fac48fd357c0
	sha256sums = 32dd5139306efd4fee13565da89fff4a08fa4b674ee0cdc61fe1f90e5720d000
	sha256sums = 96ae8497e2f65ff2699483b1589e1539be45ca33d32251b066a2bc22d9761d5d
	sha256sums = a972ef8bccd1b91d4f0013a6487c2b6761a207282f1a171ec2a90f5ffac5b950
	sha256sums = 5571ee0131432fa93e8f255d2566a62be8c8ef4c246d5b85f3ecf6baa1651c54
	sha256sums = 897a8fc71fd62adec5044b5527d1447a3a646d8634e6c6a8d1fc6c749944ce0f
	sha256sums = 594ee36c0bc7eee93df824017bc32c3f5afb13b14f1a396f28b665c97dc1d7c0
	sha256sums = 41afb414a69dc9e2b022605e0e63a9e14738c8e8c87984b95969aa8ab3584d77
	sha256sums = 717f7fc70a3e3fcfa5ffbac505c8259c1d86718ca1ca6593e8925dac3d29a835
	sha256sums = 217c81919200903070d235098a9e8ba0039bb1ed10017ad86ae4c3fc8e0f46b7

pkgname = linux-mbp
	pkgdesc = The Linux for MBP kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = linux=5.3.11

pkgname = linux-mbp-headers
	pkgdesc = Headers and scripts for building modules for the Linux for MBP kernel
	provides = linux-headers=5.3.11

pkgname = linux-mbp-docs
	pkgdesc = Kernel hacker's manual for the Linux for MBP kernel
	provides = linux-docs=5.3.11

